@model SmsDetailsModel
@{
    ViewData["Title"] = "SmsDetails";
}

<h2>Sms Details</h2>
<a asp-action="SmsList" class="btn btn-primary" style="margin-bottom:2rem">Return</a>
@if (Model == null)
{
    <span class="text-danger">Cannot show sms details</span>
}
else
{
    <div class="row">
        <div class="col-md-2">
            @Html.DisplayNameFor(m => m.Id)
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Id)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            @Html.DisplayNameFor(m => m.PhoneNumber)
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(m => m.PhoneNumber)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            @Html.DisplayNameFor(m => m.Text)
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Text)
        </div>
    </div>


    string status = "";
    switch (Model.Status)
    {
        case 1: status = "New"; break;
        case 2: status = "Sent"; break;
        case 3: status = "Send Error"; break;
        case 4: status = "Server Error"; break;
    }

    <div class="row">
        <div class="col-md-2">
            @Html.DisplayNameFor(m => m.Status)
        </div>
        <div class="col-md-10">
            @(status)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            @Html.DisplayNameFor(m => m.CreatedAt)
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(m => m.CreatedAt)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            @Html.DisplayNameFor(m => m.SentAt)
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(m => m.SentAt)
        </div>
    </div>
}


