@model List<SmsModel>

<div style="margin-top:2rem">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Status</th>
                <th scope="col">Created At</th>
                <th scope="col">Sent At</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sms in Model)
            {
                var status = "";
                switch (sms.Status)
                {
                    case 1: status = "New"; break;
                    case 2: status = "Sent"; break;
                    case 3: status = "Send Error"; break;
                    case 4: status = "Server Error"; break;
                }
            <tr>
                <th scope="row">@(sms.Id)</th>
                <td>@(sms.PhoneNumber)</td>
                <td>@(status)</td>
                <td>@(sms.CreatedAt.ToString("d.M.yyyy HH:mm:ss"))</td>
                <td>@(sms.SentAt?.ToString("d.M.yyyy HH:mm:ss"))</td>
                <td><a asp-action="SmsDetails" asp-route-id="@(sms.Id)">Detail</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>
